<div class="panel panel-default">
  <div class="panel-body">
    <% if (videos.length == 0) {%>
    <p class="lead text-center">
      No videos have been added to this pool of video yet.
    </p>
    <p class="text-center">
      <a href="/videos/add" class="btn btn-lg btn-primary">Add a video...</a>
    </p>
    <% } else { %>.
    <div class="row clearfix">
      <div class="col-sm-6">
        <h2 style="margin-top: 0">Videos</h2>
      </div>
      <div class="col-sm-6">
        <% include partials/paginator %>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr class="text-muted">
          <th>Video name</th>
          <th class="text-right">Date uploaded</th>
        </tr>
      </thead>
      <tbody>
      <% videos.forEach(function(video) { %>
        <tr href="/videos/<%= video.id %>">
          <td><a href="/videos/<%= video.id %>"><h4 style="margin: 5px 0;"><i class="fa fa-fw fa-film"></i> <%= video.name %></h4></a></td>
          <td class="text-right text-muted">
            <i class="fa fa-fw fa-clock-o"></i> <time class="timeago" datetime="<%= video.created.toISOString() %>"><%= video.created.toDateString() %></time>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% include partials/paginator %>
    <% } %>
  </div>
</div>